@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.contentContainer{
    height: 300px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}

body{
    background-color: black;
    color: white;
}


.dark{
    background-color: black;
    color: white;
}


#time{
    font-family: 'Anton', sans-serif;
    font-size: 75px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

.button{
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
    border-radius: 19px;
  }

.button-dark{
    background-color: peru;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    font-family: 'Oswald', sans-serif;
    border-radius: 19px;
    margin-left: 80px;
  }

.buttonContainer {
    height: auto;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.startButton {
    text-align: center;
}

#start {
    margin-top: 30px;
    background-color: tomato;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 44px;
    font-family: 'Oswald', sans-serif;
    border-radius: 19px;
    font-weight: 900;
}

#info {
    border-left: 30px;
    margin-top: 45px;
    font-family: 'Oswald', sans-serif;
    margin-left: 80px;
    font-size: 21px;
}

footer {
    text-align: center;
    padding-top: 20px;
    color: #6e646e;
    font-family: 'Oswald', sans-serif;
}